.layout
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-template-rows: min-content 330px 1fr
  gap: 24px

.card
  padding: 16px
  border: 4px $light-blue solid
  border-radius: 16px
  height: 100%
  grid-column: span 2

.widget
  padding: 20px
  border: 4px $light-blue solid
  border-radius: 16px
  display: flex
  gap: 24px
  flex-direction: column
  position: relative
  grid-column: span 6

.widget__update
  position: absolute
  top: 20px
  right: 20px

.widget__mainBlock
  display: flex
  flex-direction: column
  gap: 20px

.widget__city
  grid-column: span 2
  display: flex
  flex-direction: row
  align-items: center
  gap: 10px
  @include font-styles($black, 24px, 400, 28px)

  svg
    width: 25px
    height: 25px
    min-width: 25px
    min-height: 25px

.widget__block
  display: flex
  flex-direction: row
  align-items: center
  gap: 8px

.widget__main
  display: grid
  grid-auto-columns: min-content 1fr
  align-items: center
  gap: 20px

.widget__actual
  @include font-styles($gray, 24px)

.widget__condition
  @include font-styles($black, 36px)

.widget__temp
  @include font-styles($black, 100px, 500)

.widget__alerts
  display: flex
  flex-direction: row
  gap: 20px

.sun__percent
  fill: $orange
  opacity: 0.2
  @include transitionMixin(opacity)
  @include font-styles($orange, 60px, 600)

.sun__main
  width: 100%
  height: auto
  overflow: visible

.sun__strokeGray
  stroke: $light-gray

.sun__strokeYellow
  stroke: $yellow
  @include transitionMixin(stroke, stroke-width)

  &[fill=""]
    fill: $yellow


.sun__text
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 10px 8px
  @include font-styles($black, 28px, 500, 30px)

.sun__day
  display: flex
  flex-direction: column
  margin-top: -30px
  align-items: center

  span:first-child
    @include font-styles($gray, 24px, 400, 30px)


.wind
  display: flex
  flex-direction: row
  gap: 20px

.wind__round
  position: relative
  border-radius: 100%
  outline-offset: -8px
  outline: 4px solid $light-gray
  width: auto
  height: 290px
  aspect-ratio: 1 / 1

.wind__decoBlock
  @include transitionMixinLong()
  width: 100%
  height: 100%


.wind__arrow
  position: absolute
  top: 50%
  left: 50%
  width: 150px
  height: 150px
  overflow: visible
  stroke-width: 1px
  stroke: transparent
  @include transitionMixin()
  transform: translate(-50%, -50%) rotate(calc(-45deg + var(--dir)))

.wind__deco
  width: 6px
  height: 20px
  border-radius: 3px
  background: $dark-blue
  outline: 2px solid $light-gray
  position: absolute
  top: 50%
  left: 49%
  transform-origin: top
  transform: rotate(calc(var(--i) * (360deg / var(--total)))) translateY(-145px)

.wind__dirTitle
  margin-bottom: 10px
  @include font-styles($black, 36px)

.wind__dir
  display: flex
  flex-direction: column
  gap: 10px
  align-items: center
  margin: auto
  @include font-styles($black, 28px, 500, 30px)

.wind__dirGust
  @include font-styles($gray, 24px, 400, 30px)

.precip
  display: flex
  flex-direction: column
  justify-content: space-between

.precip__title
  @include font-styles($black, 36px)
  text-align: center
  display: flex
  flex-direction: row
  gap: 5px
  justify-content: center

.precip__grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 15px

.precip__item
  padding: 8px
  outline: 2px solid $light-gray
  border-radius: 8px
  display: flex
  flex-direction: column
  justify-content: center
  gap: 3px

.precip__itemTitle
  text-align: center
  @include font-styles($gray, 24px, 400, 30px)

.precip__itemValue
  text-align: center
  @include font-styles($black, 28px, 500, 30px)

  span
    @include font-styles($gray, 24px, 400, 30px)

.precip__types
  display: flex
  flex-direction: row
  gap: 15px

.precip__type
  display: flex
  flex-direction: row
  gap: 5px
  border-radius: 40px
  outline-offset: -1px
  outline: 2px solid $blue
  width: fit-content
  align-items: center
  padding: 6px 12px 6px 8px
  @include transitionMixin()
  @include font-styles($black, 24px, 500)

  svg
    width: 40px
    height: 40px
    max-width: 40px
    max-height: 40px
    min-width: 40px
    min-height: 40px

    path
      @include transitionMixin()

@include hover
  .precip__type:hover
    background: $blue
    color: $white

    svg path
      fill: $white

      &[stroke]
        stroke: $white
  .sun:hover
    .sun__percent
      opacity: 0.4

    circle.sun__strokeYellow
      stroke: $orange
      stroke-width: 3px
  .wind:hover
    .wind__decoBlock
      transform: rotate(90deg)

    .wind__arrow
      stroke: $orange
