.icon
  width: 70px
  height: 70px
  min-width: 70px
  min-height: 70px


.alert
  display: grid
  grid-template-rows: min-content 0fr
  overflow: hidden
  @include transitionMixin()
  outline: 2px solid $orange
  border-radius: 8px
  height: fit-content
  cursor: pointer

.alert_open
  grid-template-rows: min-content 1fr

  .alert__description
    padding: 10px

  .alert__title
    &::after
      transform: translateY(-50%) rotate(40deg)

    &::before
      transform: translateY(-50%) rotate(-40deg)

.alert__description
  overflow: hidden
  @include transitionMixin()
  display: flex
  flex-direction: column
  gap: 10px
  padding: 0 10px
  @include font-styles($black, 20px, 400, 22px)

.alert__period
  color: $black

.alert__title
  cursor: pointer
  @include font-styles($black, 22px)
  @include transitionMixin()
  display: flex
  flex-direction: row
  gap: 10px
  align-items: center
  position: relative
  padding: 5px 10px

  svg
    width: 40px
    height: 40px
    min-width: 40px
    min-height: 40px

  &::before, &::after
    content: ''
    background: $black
    width: 21px
    height: 3px
    position: absolute
    top: 50%
    border-radius: 2px
    @include transitionMixin()

  &::after
    transform: translateY(-50%) rotate(-40deg)
    right: 10px

  &::before
    transform: translateY(-50%) rotate(40deg)
    right: 25px

@include tablet
  .alert__title
    &::before, &::after
      content: none
  .alert
    grid-template-rows: min-content 1fr
    .alert__description
      padding: 8px 10px

@include hover
  .alert__title:hover
    color: $dark-blue

    &::before, &::after
      background: $dark-blue
