.alert__description
  display: flex
  flex-direction: column
  gap: 10px
  @include font-styles($black, 20px, 400, 22px)

.alert__period
  color: $black

@include tablet
  .alert__description
    gap: 8px
