.layout
  height: 100%
  margin: 106px auto 10px
  max-width: 1720px
  display: flex
  flex-direction: column

@include laptop
  .layout
    max-width: 100%
    margin: 106px 80px 10px

@include tablet
  .layout
    margin: 81px 60px 10px

@include mobile
  .layout
    margin: 81px 15px 10px