.btn
  padding: 10px 20px
  border: none
  background: $blue
  outline: none
  width: fit-content
  cursor: pointer
  @include transitionMixin()
  border-radius: 8px
  @include font-styles($white, 28px, 600, 30px)

.btn_secondary
  background: transparent
  outline: 2px solid $blue
  outline-offset: -2px
  color: $blue

.location
  display: flex
  flex-direction: row
  align-items: flex-end
  gap: 5px
  @include font-label($black)

  svg
    width: 25px
    height: 25px
    min-width: 25px
    min-height: 25px
    transform: rotate(45deg)

.loader
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.loader__icon
  width: 150px
  height: 150px
  animation: ease loadAnim 2.5s infinite

.modal
  opacity: 0
  z-index: -100
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  pointer-events: none

  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: $gray
    opacity: 0
    width: 100vw
    height: 100vh
    @include transitionMixin(opacity)

body:has(.modal_open)
  overflow: hidden

.modal.modal_open
  z-index: 1000
  opacity: 1
  pointer-events: auto

  &::before
    opacity: 0.6


.modal__inner
  width: 70vw
  max-height: 80vh
  border-radius: 16px
  padding: 24px
  position: relative
  background: $white
  z-index: 1
  display: flex
  flex-direction: column
  gap: 20px

.modal__content
  overflow: auto

.modal__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  @include font-label($gray)

.modal__close
  position: relative
  width: 40px
  height: 40px
  cursor: pointer
  @include transitionMixin()

  span
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 4px
    border-radius: 2px
    background: $blue
    @include transitionMixin()

    &:nth-child(1)
      transform: translate(-50%, -50%) rotate(45deg)

    &:nth-child(2)
      transform: translate(-50%, -50%) rotate(-45deg)

.color__input
  height: 0
  width: 0
  visibility: hidden

.color
  cursor: pointer
  width: 70px
  height: 36px
  background: $blue
  display: block
  border-radius: 30px
  position: relative
  @include transitionMixin()
  outline: 2px solid transparent

.color__check
  position: absolute
  top: 3px
  left: 3px
  width: 30px
  height: 30px
  background: $white
  border-radius: 30px
  @include transitionMixin()

.color__input:checked ~ .color__check
  transform: translateX(calc(63px - 100%))

.color:active .color__check
  width: 40px


@include tablet
  .btn
    @include font-styles($white, 22px, 600, 24px)
  .btn_secondary
    color: $blue
  .modal__close
    width: 30px
    height: 30px
  .modal__inner
    width: 90vw
    padding: 16px
    max-height: 80dvh
    margin-top: 70px
    gap: 12px

  .color
    width: 60px
    height: 30px
  .color__check
    width: 24px
    height: 24px
    border-radius: 24px

  .color__input:checked ~ .color__check
    transform: translateX(calc(52px - 100%))

  .color:active .color__check
    width: 34px

@include hover
  .btn:hover
    background: $dark-blue
    color: $white
  .btn_secondary:hover
    background: transparent
    color: $dark-blue
    outline-color: $dark-blue
  .modal__close:hover
    transform: rotate(180deg)

    span
      background: $dark-blue
  .color:hover
    outline: 2px solid $blue


@keyframes loadAnim
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
