.btn
  padding: 8px 16px
  border: none
  background: $blue
  outline: none
  width: fit-content
  cursor: pointer
  transition: .35s all ease-in
  border-radius: 8px
  @include font-styles($white, 24px, 500)
  &:hover
    background: $dark-blue
    color: $white
