.page
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 36px 24px

.main
  padding: 20px
  border: 4px $light-blue solid
  @include transitionMixin(border)
  border-radius: 16px
  display: flex
  gap: 16px
  flex-direction: column
  position: relative
  grid-column: span 2

.main__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start

.main__block
  display: flex
  flex-direction: row
  align-items: center
  gap: 16px

.main__iconBlock
  background: $light-blue
  border-radius: 100%
  width: 130px
  height: 130px
  min-width: 130px
  min-height: 130px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @include transitionMixin(background)

.main__icon
  width: 90px
  height: 90px
  min-width: 90px
  min-height: 90px

  path
    fill: $black
    @include transitionMixin(fill)

.main__content
  display: flex
  flex-direction: column
  gap: 8px

.main__condition
  @include font-heading($black)

.main__temp
  @include font-styles($black, 80px, 500)

.main__range
  height: 8px
  width: 100%
  border-radius: 8px
  background: linear-gradient(90deg, $red, $yellow, $green)
  position: relative

.main__marker
  position: absolute
  top: -4px
  height: 16px
  width: 8px
  border-radius: 6px
  background: $white
  left: var(--val)
  outline: 4px solid $black
  transform: translateX(-50%)
  @include transitionMixin()

.main__markerValue
  opacity: 0
  position: absolute
  bottom: -10px
  left: 50%
  transform: translate(-50%, 90%)
  background: $white
  border-radius: 6px
  outline: 2px solid $black
  padding: 3px
  @include transitionMixin()

.main__rangeBlock
  display: flex
  flex-direction: column
  gap: 8px
  margin: 8px 0

.main__rangeValues
  display: flex
  flex-direction: row
  justify-content: space-between

.main__value
  @include font-styles($gray, 16px)
  text-transform: uppercase

.main__description
  @include font-label($black, 400, 32px)
  @include laptop
    line-height: 30px

.card
  position: relative
  display: flex
  flex-direction: column
  gap: 16px
  padding: 32px 24px 24px
  border-radius: 16px
  border: 2px solid $light-blue
  @include transitionMixin(border, background)

.card_weight
  border-color: $dark-blue
  background: $light-blue

  .card__title
    background: $light-blue
    outline-color: $dark-blue
    color: $dark-blue

.card__title
  position: absolute
  top: 0
  left: 30px
  transform: translateY(-50%)
  @include font-styles($gray, 18px, 400, 20px)
  padding: 4px 8px
  background: $white
  outline: 2px solid $light-blue
  border-radius: 12px
  @include transitionMixin(outline, background, color)

.card__block
  display: grid
  grid-template-columns: 120px 1fr
  justify-items: center
  gap: 16px
  align-items: center
  height: 100%

.card__value
  white-space: nowrap
  @include font-heading($black)
  font-weight: 600

.card__description
  @include font-label($black)

.card__tip
  @include font-label($gray)

@include laptop
  .card
    padding: 24px 16px 16px
  .main__temp
    @include font-styles($black, 70px, 500)
  .main__icon
    width: 80px
    height: 80px
    min-width: 80px
    min-height: 80px
  .main__iconBlock
    width: 120px
    height: 120px
    min-width: 120px
    min-height: 120px
  .card__block
    grid-template-columns: 100px 1fr

@include tablet
  .card
    padding: 24px 16px 16px
  .card__title
    @include font-styles($gray, 16px, 400, 18px)
  .main__temp
    @include font-styles($black, 50px, 500)
  .main__icon
    width: 60px
    height: 60px
    min-width: 60px
    min-height: 60px
  .main__iconBlock
    width: 100px
    height: 100px
    min-width: 100px
    min-height: 100px
  .card__block
    grid-template-columns: 80px 1fr
  .page
    gap: 24px

@include mobile
  .page
    grid-template-columns: 1fr
  .main
    grid-column: span 1
  .main__block
    flex-direction: column
    align-items: center
    justify-content: center
  .main__temp, .main__condition
    text-align: center
  .main__header
    flex-direction: column-reverse
    gap: 8px
    justify-content: center
    align-items: center
  .main__rangeBlock
    gap: 12px

@include hover
  .main__rangeBlock:hover .main__markerValue
    opacity: 1
    transform: translate(-50%, 100%)