*
  padding: 0
  margin: 0
  border: none
  //outline: 1px solid lightseagreen
  background: none
  box-sizing: border-box
html
  min-height: 100%
  height: 100%
  max-height: fit-content
body
  background: $white
  scrollbar-gutter: stable
  display: flex
  flex-direction: column
  min-height: 100%

.recharts-surface
  overflow: visible

.recharts-responsive-container
  min-width: 1400px !important

.chart__hover-dot
  fill: $yellow
  r: 6px
  stroke: $orange
  stroke-width: 3
  @include transitionMixin(r, fill)