@use '@/styles/_variables' as *

@mixin font-styles($color, $size, $weight: 400, $height: 100%)
  color: $color
  font-size: $size
  font-weight: $weight
  line-height: $height

@mixin font-heading($color: $black)
  @include font-styles($color, 36px)
  +tablet
    font-size: 28px

@mixin font-value($color: $black, $weight: 500)
  @include font-styles($color, 28px, $weight, 30px)
  +tablet
    font-size: 24px

@mixin font-label($color: $black, $weight: 400, $lh: 28px)
  @include font-styles($color, 24px, $weight, $lh)
  +tablet
    font-size: 20px

@mixin transitionMixin($keys...)
  $result: ()
  @if length($keys) == 0
    transition: all 0.35s ease
  @else
    @each $key in $keys
      $result: append($result, $key 0.35s ease, comma)
    transition: $result

@mixin transitionMixinLong($keys...)
  $result: ()
  @if length($keys) == 0
    transition: all 1s ease
  @else
    @each $key in $keys
      $result: append($result, $key 1s ease, comma)
    transition: $result

@mixin laptop
  @media (max-width: 1919px)
    @content

@mixin tablet
  @media (max-width: 1199px)
    @content

@mixin mobile
  @media (max-width: 767px)
    @content

@mixin hover
  @media (hover: hover) and (pointer: fine)
    :hover
      @content
  @media (hover: none)
    :active
      @content