$white: var(--white)
$light-blue: var(--light-blue)
$blue: var(--blue)
$dark-blue: var(--dark-blue)
$black: var(--black)
$yellow: var(--yellow)
$orange: var(--orange)
$red: var(--red)
$gray: var(--gray)
$light-gray: var(--light-gray)
$green: var(--green)
$violet: var(--violet)